<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/writing samples">Writing Samples</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        	        <li><a href="https://twitter.com/pritchett_dan">Twitter</a></li>
	        		<li><a href="mailto:danieltpritch@gmail.com">email</a></li>
	        		<li><a href="https://github.com/danieltpritch">github.com/danieltpritch</a></li>
				</ul>
			</footer>
		</body>
	</html>
